<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>whataday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E14D428C2B376FFF0015BA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E14D429C2B3770030015BA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E14D42A62B3770030015BA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
